In [25]:
from geopy.geocoders import Nominatim
import pandas

nom = Nominatim(user_agent="my-app")

df=pandas.read_csv("address.csv")

In [26]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df["Latitude"] = df ["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df ["Coordinates"].apply(lambda x: x.longitude if x != None else None)


df

,Id,Price,Address,Beds,Baths,Area,Coordinates,Latitude,Longitude
0,0,"$99,450",3995 23rd St San Francisco CA 94114,NaN,NaN,NaN,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965,-122.431714
1,1,"$55,450",Bankura Road Raghunathpur 723133,NaN,NaN,NaN,None,NaN,NaN
2,2,"$3,625,000",Raghunathpur Purulia 723133,NaN,NaN,NaN,"(Raghunathpur, Raghunathpur - I, Puruliya, Wes...",23.540939,86.673749